.spacer {
    min-width: 1px;
    min-height: 100px;
    background-color: white;
    margin: 0 10px;
}
@media (max-width:600px) {
    .spacer{
        margin: 0 10px;
        min-height: 50px;
    }
}