.LandingPageContainer {
    height: 100vh;
    background: url(../assets/landing_bg.png) no-repeat fixed; 
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    animation-name: display;
    animation-duration: 5s;
}

@media only screen and (min-width: 821px) {
    .LandingPageContainer{
      background: url(../assets/landing_bg.png) no-repeat fixed;
      background-position: center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
}

@keyframes display {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
