.Appcontainer{
  height: 100vh;
  width: auto;
  background-color: white;
  overflow: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.Appcontainer::-webkit-scrollbar{
  display: none;
}