.CountdownContainer{
  width: auto;
  overflow: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(assets/nft_bg_mobile.png) no-repeat fixed; 
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.symbolContainer{
  display: flex;
  color: black;
  align-items: center;
  width: 80%;
}

.symbolContainer span:not(:first-child) {
  padding-left: 16px;
}

.symbolContainer span:not(:last-child) {
  border-right: 1px solid black;
}

.CountdownContainer::-webkit-scrollbar{
  display: none;
}

@media only screen and (min-width: 821px) {
  .CountdownContainer{
    background: url(assets/nft_bg_desktop.png) no-repeat fixed;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .symbolContainer{
    display: flex;
    color: black;
    align-items: center;
    width: 60%;
  }
}