.symbol {
    border-style: none;
    width: 20px;
    height: 20px;
  }
  
  @media only screen and (min-width: 376px) {
    .symbol {
      width: 30px;
      height: 30px;
    }
  }
  
  @media only screen and (min-width: 768px) {
    .symbol {
      width: 40px;
      height: 40px;
    }
  }
  
  
  @media only screen and (min-width: 820px) {
    .symbol {
      width: 60px;
      height: 60px;
    }
  }
  
  @media only screen and (min-width: 1032px) {
    .symbol {
      width: 100px;
      height: 100px;
    }
  }