.symbolAnim{
   animation: slideUp 1s linear 0s 1;
   background-color: red;
}

.symbolAnim1{
    animation: slideUp 1s linear 0s 1;
    background-color: red;
}

@keyframes slideUp {
    0%{
        background-color: blue;
    }
    100%{
        background-color: green;
    }
}